<%= render "commons/header" %>

<div class="container show-post-content pb-5">

  <%- if user_signed_in?%>
    <div class="profile mt-5 d-flex">
      <div class="profile-pic d-flex justify-content-center align-items-center"><span><%= @post.user.name.upcase[0, 2] %></span></div>
        <div class="profile-info d-flex flex-column">
          <span><%= @post.user.name %></span> 
          <small><%= @post.user.email %></small> 
        </div>
     </div>
  <% end %>

  <div class="post-info mt-5">
    <div class="title">
      <h3><%= @post.title%></h3>
    </div>
    <div class="body">
      <p><%= @post.body%></p>
    </div>
  </div>

  <%= link_to 'â† Back', posts_path %>
</div>
